{% extends "base/dashboard.html" %}
{% block title %}
    {{ agreement.title|title }}
{% endblock %}
{% block content %}
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                Değerli kullanıcı. {{ agreement.category.title }} metni değişmiştir. <br>
                Lütfen siteyi kullanmaya devam edebilmek için anlaşmayı kabul edin.
            </p>
            <hr>
            <h1>{{ agreement.title|title }}</h1>
            <p>{{ agreement.body|linebreaks }}</p>
            <form action="{% url "accept_agreement" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success" name="status" value="yes">Kabul Ediyorum</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger" name="status" value="no">Kabul Etmiyorum</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}