*.py[cod]
*.config
mudur/logfile*
mudur/documents/*
.project
.pydevproject
.settings/
*/__init__.py
mudur/staticfiles/
mudur/mudur/settings.py
mudur/egitmenler
mudur/kurslar
venv
.idea/
.venv*/
media/
mudur/geribildirim.csv
mudur/keys.txt
.env
mudur/.well-known/
mudur/onayla.py
mudur/mektuplar/
mudur/oldlogs.tar.gz
.DS_Store
userprofile/migrations/0021_userverification_temporary_code.py
mudur/ab2017_gelmeyenler.txt
mudur/Yoklama_duzeltmece.py
kampyazilim.conf
.python-version