[DB]
# Docker ile kullanırken host: postgresql yazılmalı (servis adı)
# Docker dışı kullanımda host: localhost
host: postgresql
port: 5432
database: mudur
dbuser: mudur
pass: mudur

[DJANGO]
secret_key: DEGISTİR_BUNU_UZUN_VE_RASTGELE_BİR_DEĞER

[EMAIL]
from: ornek@ornek.com
host: <smtp server>
port: <smtp port>
username: <smtp username>
password: <smtp password>

[SMS]
# Netgsm HTTP API
url: https://api.netgsm.com.tr/sms/send/get
usercode: <netgsm kullanici numarasi>
password: <netgsm sifresi>
msgheader: <netgsm baslik>

[WHATSAPP]
# Docker ile kullanırken url: http://whatsapp-bridge:3000 yazılmalı
# Docker dışı kullanımda url: http://localhost:3000
url: http://whatsapp-bridge:3000
api_key: <WA_API_KEY>

[CAPTCHA]
publickey: <google recaptcha public key>
privatekey: <google recaptcha private key>
