# Django related
django>=1.11,<1.12
django-ckeditor==5.4.0
django-countries==5.3
django-cities-light==3.4.0
django-bootstrap3==9.1.0
django-extensions==2.0.7
django-recaptcha==1.4.0

# Django remotely related
Pillow==5.1.0
psycopg2-binary==2.7.4
pytz  # Don't fix the version

# Utilities
pysimplesoap==1.16.2
python-crontab==2.2.8
requests  # Don't fix the version
gunicorn==19.8.1
